<a href="https://colab.research.google.com/github/Brahmeshvn08/Python-assignments/blob/main/FUNCTIONS_1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*** USE THE CONCEPT OF FUNCTIONS TO SOLVE THE BELOW PROGRAMMING QUESTIONS ***

1) Write a Python function to sum all the numbers in a list.

Sample List : (8, 2, 3, 0, 7)

Expected Output : 20

In [2]:
#WRITE YOUR CODE HERE
def sum(numbers):
  total=0
  for x in numbers:
    total+=x
  return total
print(sum((8,2,3,0,7)))

20

2) Write a Python function to multiply all the numbers in a list.

Sample List : (8, 2, 3, -1, 7)

Expected Output : -336

In [3]:
#WRITE YOUR CODE HERE
def multiply(numbers):
  total=1
  for x in numbers:
    total*=x
  return total
print(multiply((8,2,3,-1,7)))

-336

3) Write a Python program to reverse a string.

Sample String : "1234abcd"

Expected Output : "dcba4321"

In [ ]:
#WRITE YOUR CODE HERE
txt="1234abcd"[::-1]
print(txt)

dcba4321

4) Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [ ]:
#WRITE YOUR CODE HERE
def factorial(n):
  if n==0 or n==1:
    return 1
  else:
    return n*factorial(n-1)
num = 4
print(f"The factorial of {num} is {factorial(num)}")

The factorial of 4 is 24

5) Write a Python function to check whether a number falls within a given range.

In [ ]:
#WRITE YOUR CODE HERE
def test_range(n):
  if n in range(2,10):
    print(n,"is in the range")
  else:
    print("The number is outside the given range")
test_range(5)

5 is in the range