<a href="https://colab.research.google.com/github/Brahmeshvn08/Python-assignments/blob/main/IPL_cricket_stats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DATA MANIPULATION AND ANALYSIS USING PANDAS**

## **1. Introduction to Pandas**

Pandas is an open-source Python library used for data manipulation and analysis. It provides data structures and functions needed to efficiently handle large datasets.

## **2. Data Structures**

Pandas primarily deals with two main data structures: Series and DataFrame.



*   **Series**

      A Series is a one-dimensional array-like object that can hold various data types. It is essentially a column in a spreadsheet or a single dataset. You can create a Series from a list, array or dictionary.
*   **DataFrame**

      A DataFrame is a two-dimensional table similar to a spreadsheet. It consists of rows and columns with each column being a Series. You can create a DataFrame from various data sources including dictionaries, lists or external files like CSV.

## **3. Data Manipulation**

### **3.1 Reading and Writing Data**

Pandas can read and write data from various sources like CSV, Excel, SQL databases and more.

To import the `pandas` library in Google Colab, use the following command:

In [80]:
import pandas as pd

To import a CSV file from Google Drive in Colab, first mount the drive using:

In [81]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Then, copy the file path from Drive and then read the file & assign it to the DataFrame `df` using:

In [82]:
df = pd.read_csv('/content/drive/MyDrive/ipl_cricket_stats.csv')

### **3.2 Data Exploration**

Data exploration helps you get an overview of your dataset. It involves functions like `head()`, `tail()`, `describe()`, `info()`, `dtypes`, `shape`, `columns`, `iloc[]`, `loc[]`, `df['column']`, `df[['col1','col2']]`, `df[df['column'] > value]`.

**3.2.1** The `df.head()` operation displays the first five rows of the DataFrame `df` by default.

In [ ]:
df.head() # Display the first 5 rows of a DataFrame

,player_id,player_name,team,runs,balls_faced,fours,sixes,wickets,overs_bowled,strike_rate,economy,catches,stumpings,match_outcome,venue
0,1,Player_1,RCB,182.0,93.0,7,3,3,3.1,196.46,11.32,1,0,No Result,Kotla
1,2,Player_2,KKR,147.0,7.0,17,2,1,1.1,114.65,4.23,0,0,Loss,Kotla
2,3,Player_3,SRH,188.0,94.0,13,0,1,1.5,81.86,6.39,0,0,Tie,Wankhede
3,4,Player_4,RR,135.0,64.0,11,2,1,3.4,145.23,11.78,3,1,Loss,Narendra Modi
4,5,Player_5,MI,31.0,76.0,19,10,4,2.1,68.70,4.01,1,0,Loss,Kotla

In [ ]:
df.head(300) # Displays the first 300 rows of a DataFrame

,player_id,player_name,team,runs,balls_faced,fours,sixes,wickets,overs_bowled,strike_rate,economy,catches,stumpings,match_outcome,venue
0,1,Player_1,RCB,182.0,93.0,7,3,3,3.1,196.46,11.32,1,0,No Result,Kotla
1,2,Player_2,KKR,147.0,7.0,17,2,1,1.1,114.65,4.23,0,0,Loss,Kotla
2,3,Player_3,SRH,188.0,94.0,13,0,1,1.5,81.86,6.39,0,0,Tie,Wankhede
3,4,Player_4,RR,135.0,64.0,11,2,1,3.4,145.23,11.78,3,1,Loss,Narendra Modi
4,5,Player_5,MI,31.0,76.0,19,10,4,2.1,68.70,4.01,1,0,Loss,Kotla
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,296,Player_296,MI,123.0,96.0,8,1,3,1.7,53.34,4.07,2,0,No Result,Wankhede
296,297,Player_297,RCB,139.0,95.0,12,2,2,1.4,196.12,11.41,4,0,No Result,Narendra Modi
297,298,Player_298,KKR,167.0,39.0,10,0,0,3.2,127.85,5.04,1,1,Win,Eden Gardens
298,299,Player_299,CSK,104.0,63.0,18,4,0,1.3,195.09,6.84,4,0,Win,Kotla
299,300,Player_300,RR,43.0,109.0,4,3,2,2.1,53.73,7.49,4,0,Loss,Eden Gardens

**3.2.2** The `df.tail()` operation displays the last five rows of the DataFrame `df` by default.

In [ ]:
df.tail() # Display the last 5 rows of a DataFrame

,player_id,player_name,team,runs,balls_faced,fours,sixes,wickets,overs_bowled,strike_rate,economy,catches,stumpings,match_outcome,venue
99995,99996,Player_99996,LSG,15.0,63.0,16,4,0,0.5,102.48,7.17,2,0,No Result,Kotla
99996,99997,Player_99997,SRH,10.0,9.0,6,8,0,2.2,87.52,8.36,4,1,Tie,Chinnaswamy
99997,99998,Player_99998,PBKS,2.0,112.0,5,3,0,2.5,168.94,11.04,4,1,No Result,Narendra Modi
99998,99999,Player_99999,RCB,187.0,80.0,5,9,1,0.5,94.33,11.84,2,0,Win,Narendra Modi
99999,100000,Player_100000,PBKS,73.0,38.0,6,1,2,2.5,50.93,5.41,1,1,Loss,Kotla

**3.2.3** The `df.describe()` operation in pandas generates summary statistics
of a DataFrame, including count, mean, standard deviation, minimum, and maximum values for each numeric column.

In [ ]:
df.describe() # Generate summary statistics of the numeric columns of a DataFrame

,player_id,runs,balls_faced,fours,sixes,wickets,overs_bowled,strike_rate,economy,catches,stumpings
count,100000.000000,98800.000000,98800.000000,100000.000000,100000.000000,100000.000000,100000.000000,98800.000000,98800.000000,100000.000000,100000.000000
mean,50000.500000,99.509879,59.671356,9.505590,7.004680,1.999320,2.000318,124.892081,8.000890,1.997500,0.500180
std,28867.657797,57.586240,34.700184,5.759196,4.330015,1.415281,1.153877,43.315998,2.315547,1.413638,0.500002
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,50.000000,4.000000,0.000000,0.000000
25%,25000.750000,50.000000,30.000000,5.000000,3.000000,1.000000,1.000000,87.170000,6.000000,1.000000,0.000000
50%,50000.500000,100.000000,60.000000,10.000000,7.000000,2.000000,2.000000,125.060000,8.000000,2.000000,1.000000
75%,75000.250000,149.000000,90.000000,14.000000,11.000000,3.000000,3.000000,162.320000,10.010000,3.000000,1.000000
max,100000.000000,199.000000,119.000000,19.000000,14.000000,4.000000,4.000000,200.000000,12.000000,4.000000,1.000000

**3.2.4** The `df.info()` operation in pandas displays a summary of the DataFrame

In [ ]:
df.info() # Display information about the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 15 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   player_id      100000 non-null  int64
 1   player_name    100000 non-null  object
 2   team           100000 non-null  object
 3   runs           98800 non-null   float64
 4   balls_faced    98800 non-null   float64
 5   fours          100000 non-null  int64
 6   sixes          100000 non-null  int64
 7   wickets        100000 non-null  int64
 8   overs_bowled   100000 non-null  float64
 9   strike_rate    98800 non-null   float64
 10  economy        98800 non-null   float64
 11  catches        100000 non-null  int64
 12  stumpings      100000 non-null  int64
 13  match_outcome  100000 non-null  object
 14  venue          100000 non-null  object
dtypes: float64(5), int64(6), object(4)
memory usage: 11.4+ MB

**3.2.5** The `df.dtypes` operation in pandas returns the data types of each column in the DataFrame `df`.

In [ ]:
df.dtypes # Display data types of each column

player_id          int64
player_name       object
team              object
runs             float64
balls_faced      float64
fours              int64
sixes              int64
wickets            int64
overs_bowled     float64
strike_rate      float64
economy          float64
catches            int64
stumpings          int64
match_outcome     object
venue             object
dtype: object

**3.2.6** The `df.shape` operation in pandas returns the dimensions of a DataFrame as a tuple (number of rows, number of columns).

In [12]:
df.shape # Get the dimensions of the DataFrame

(100000, 15)

**3.2.7** The `df.columns` operation in pandas returns the column labels of a DataFrame as an Index object.

In [13]:
df.columns # List the column names

Index(['player_id', 'player_name', 'team', 'runs', 'balls_faced', 'fours',
       'sixes', 'wickets', 'overs_bowled', 'strike_rate', 'economy', 'catches',
       'stumpings', 'match_outcome', 'venue'],
      dtype='object')

**3.2.8** The `df.iloc[]` operation in pandas is used to access rows and columns by their integer position (index).

In [41]:
df.iloc[19:25, 1:15] # Select data by integer-based indexing

,player_name,team,runs,balls_faced,fours,sixes,wickets,overs_bowled,strike_rate,economy,catches,stumpings,match_outcome,venue
19,Player_20,KKR,NaN,12.0,16,9,1,1.7,171.03,9.86,1,1,Tie,Eden Gardens
20,Player_21,SRH,98.0,99.0,2,4,1,1.9,155.54,8.07,3,0,No Result,Wankhede
21,Player_22,GT,130.0,89.0,1,6,4,0.5,130.18,6.98,1,0,Tie,Chinnaswamy
22,Player_23,KKR,90.0,71.0,13,13,4,2.1,113.85,8.17,4,0,Loss,Narendra Modi
23,Player_24,GT,NaN,118.0,12,4,1,3.7,193.60,6.65,4,1,No Result,Eden Gardens
24,Player_25,RR,14.0,15.0,15,14,4,1.8,178.02,7.86,2,1,Win,Kotla

**3.2.9** The `df.loc[]` operation in pandas is used to access rows and columns by labels (index or column names).

In [42]:
df.loc[1:4,'runs'] # Select data by label-based indexing

1    147.0
2    188.0
3    135.0
4     31.0
Name: runs, dtype: float64

**3.2.10** The `df['column']`, `df[['col1','col2']]` operations in pandas is used to select a specific column & multiple columns from a DataFrame.

In [45]:
df['strike_rate'] # Select a single column

0        196.46
1        114.65
2         81.86
3        145.23
4         68.70
          ...
99995    102.48
99996     87.52
99997    168.94
99998     94.33
99999     50.93
Name: strike_rate, Length: 95276, dtype: float64

In [46]:
df[['overs_bowled','economy']] # Select multiple columns

       overs_bowled  economy
0               3.1    11.32
1               1.1     4.23
2               1.5     6.39
3               3.4    11.78
4               2.1     4.01
...             ...      ...
99995           0.5     7.17
99996           2.2     8.36
99997           2.5    11.04
99998           0.5    11.84
99999           2.5     5.41

[95276 rows x 2 columns]

**3.2.11** The `df[df['column'] > value]` operation in pandas is used to filter rows based on a condition applied to a specific column.

In [67]:
df[df['balls_faced']>50] # Filter rows based on a condition

,player_id,player_name,team,runs,balls_faced,fours,sixes,wickets,overs_bowled,strike_rate,economy,catches,stumpings,match_outcome,venue
0,1,Player_1,RCB,182.0,93.0,7,3,3,3.1,196.46,11.32,1,0,No Result,Kotla
2,3,Player_3,SRH,188.0,94.0,13,0,1,1.5,81.86,6.39,0,0,Tie,Wankhede
3,4,Player_4,RR,135.0,64.0,11,2,1,3.4,145.23,11.78,3,1,Loss,Narendra Modi
4,5,Player_5,MI,31.0,76.0,19,10,4,2.1,68.70,4.01,1,0,Loss,Kotla
5,6,Player_6,SRH,51.0,76.0,0,10,0,3.1,167.07,7.06,3,1,No Result,Chinnaswamy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99992,99993,Player_99993,CSK,29.0,68.0,14,14,0,1.7,129.52,7.81,2,1,Tie,Chinnaswamy
99993,99994,Player_99994,PBKS,71.0,99.0,7,3,2,2.9,195.85,10.07,4,1,Loss,Wankhede
99995,99996,Player_99996,LSG,15.0,63.0,16,4,0,0.5,102.48,7.17,2,0,No Result,Kotla
99997,99998,Player_99998,PBKS,2.0,112.0,5,3,0,2.5,168.94,11.04,4,1,No Result,Narendra Modi
99998,99999,Player_99999,RCB,187.0,80.0,5,9,1,0.5,94.33,11.84,2,0,Win,Narendra Modi

### **3.3 Data Manipulation**

Data manipulation in pandas refers to the process of modifying, transforming, and organizing data to make it suitable for analysis or visualization.

Different operations include `isnull().sum()`, `dropna()`, `fillna()`, `duplicated()`, `drop_duplicates()`, `df['new_col'] = ...	`

**3.3.1** The `.isnull().sum()` operation in pandas is used to count the number of null (`NaN`) values in each column of a DataFrame.

In [36]:
df.isnull().sum() # Finding out the missing values count in each and every column

player_id           0
player_name         0
team                0
runs             1200
balls_faced      1200
fours               0
sixes               0
wickets             0
overs_bowled        0
strike_rate      1200
economy          1200
catches             0
stumpings           0
match_outcome       0
venue               0
dtype: int64

**3.3.2** The `dropna()` method in pandas is used to remove rows or columns with missing (`NaN`) values in a DataFrame.

#### **The (`inplace=True`) is a permanent operation & modifies the DataFrame directly without creating a new copy.**

In [39]:
df.iloc[19:25] # Select data by integer-based indexing

,player_id,player_name,team,runs,balls_faced,fours,sixes,wickets,overs_bowled,strike_rate,economy,catches,stumpings,match_outcome,venue
19,20,Player_20,KKR,NaN,12.0,16,9,1,1.7,171.03,9.86,1,1,Tie,Eden Gardens
20,21,Player_21,SRH,98.0,99.0,2,4,1,1.9,155.54,8.07,3,0,No Result,Wankhede
21,22,Player_22,GT,130.0,89.0,1,6,4,0.5,130.18,6.98,1,0,Tie,Chinnaswamy
22,23,Player_23,KKR,90.0,71.0,13,13,4,2.1,113.85,8.17,4,0,Loss,Narendra Modi
23,24,Player_24,GT,NaN,118.0,12,4,1,3.7,193.60,6.65,4,1,No Result,Eden Gardens
24,25,Player_25,RR,14.0,15.0,15,14,4,1.8,178.02,7.86,2,1,Win,Kotla

In [43]:
df.dropna(inplace=True) # Remove rows with missing values

In [44]:
df.iloc[19:25]

,player_id,player_name,team,runs,balls_faced,fours,sixes,wickets,overs_bowled,strike_rate,economy,catches,stumpings,match_outcome,venue
20,21,Player_21,SRH,98.0,99.0,2,4,1,1.9,155.54,8.07,3,0,No Result,Wankhede
21,22,Player_22,GT,130.0,89.0,1,6,4,0.5,130.18,6.98,1,0,Tie,Chinnaswamy
22,23,Player_23,KKR,90.0,71.0,13,13,4,2.1,113.85,8.17,4,0,Loss,Narendra Modi
24,25,Player_25,RR,14.0,15.0,15,14,4,1.8,178.02,7.86,2,1,Win,Kotla
25,26,Player_26,DC,58.0,35.0,6,8,1,3.5,83.55,5.33,2,0,No Result,Chinnaswamy
26,27,Player_27,CSK,105.0,40.0,6,3,4,1.4,86.82,9.60,2,0,Tie,Wankhede

**3.3.3** The `fillna()` method in pandas is used to replace missing (`NaN`) values in a DataFrame with a specified value or method.

#### **We need to reload the file if we want to fill the null values after dropping them.**

In [79]:
df = pd.read_csv('/content/drive/MyDrive/ipl_cricket_stats.csv') # Assigning the reloaded file to a new DataFrame (df2)

In [51]:
df.fillna(0)

,player_id,player_name,team,runs,balls_faced,fours,sixes,wickets,overs_bowled,strike_rate,economy,catches,stumpings,match_outcome,venue
0,1,Player_1,RCB,182.0,93.0,7,3,3,3.1,196.46,11.32,1,0,No Result,Kotla
1,2,Player_2,KKR,147.0,7.0,17,2,1,1.1,114.65,4.23,0,0,Loss,Kotla
2,3,Player_3,SRH,188.0,94.0,13,0,1,1.5,81.86,6.39,0,0,Tie,Wankhede
3,4,Player_4,RR,135.0,64.0,11,2,1,3.4,145.23,11.78,3,1,Loss,Narendra Modi
4,5,Player_5,MI,31.0,76.0,19,10,4,2.1,68.70,4.01,1,0,Loss,Kotla
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,Player_99996,LSG,15.0,63.0,16,4,0,0.5,102.48,7.17,2,0,No Result,Kotla
99996,99997,Player_99997,SRH,10.0,9.0,6,8,0,2.2,87.52,8.36,4,1,Tie,Chinnaswamy
99997,99998,Player_99998,PBKS,2.0,112.0,5,3,0,2.5,168.94,11.04,4,1,No Result,Narendra Modi
99998,99999,Player_99999,RCB,187.0,80.0,5,9,1,0.5,94.33,11.84,2,0,Win,Narendra Modi
99999,100000,Player_100000,PBKS,73.0,38.0,6,1,2,2.5,50.93,5.41,1,1,Loss,Kotla

In [53]:
df['strike_rate'].fillna(100, inplace=True) # Fills NaN values in a specific column with 100

<ipython-input-53-faaabc1922cd>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['strike_rate'].fillna(100, inplace=True)

In [54]:
df.iloc[117:122]

,player_id,player_name,team,runs,balls_faced,fours,sixes,wickets,overs_bowled,strike_rate,economy,catches,stumpings,match_outcome,venue
117,118,Player_118,RR,44.0,97.0,13,11,3,2.0,195.09,7.45,1,1,No Result,Narendra Modi
118,119,Player_119,KKR,119.0,93.0,13,2,3,0.7,100.00,7.66,1,0,Loss,Kotla
119,120,Player_120,GT,12.0,98.0,2,7,1,3.5,113.35,5.97,3,1,Win,Narendra Modi
120,121,Player_121,DC,53.0,103.0,9,1,4,0.7,190.29,7.48,0,1,No Result,Narendra Modi
121,122,Player_122,RR,154.0,99.0,14,6,1,3.1,175.21,8.87,0,0,Loss,Wankhede

In [55]:
df.fillna(method='bfill') # Fills NaN values with the next non-null value

<ipython-input-55-d4094d27635c>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill') # Fills NaN values with the next non-null value.

,player_id,player_name,team,runs,balls_faced,fours,sixes,wickets,overs_bowled,strike_rate,economy,catches,stumpings,match_outcome,venue
0,1,Player_1,RCB,182.0,93.0,7,3,3,3.1,196.46,11.32,1,0,No Result,Kotla
1,2,Player_2,KKR,147.0,7.0,17,2,1,1.1,114.65,4.23,0,0,Loss,Kotla
2,3,Player_3,SRH,188.0,94.0,13,0,1,1.5,81.86,6.39,0,0,Tie,Wankhede
3,4,Player_4,RR,135.0,64.0,11,2,1,3.4,145.23,11.78,3,1,Loss,Narendra Modi
4,5,Player_5,MI,31.0,76.0,19,10,4,2.1,68.70,4.01,1,0,Loss,Kotla
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,Player_99996,LSG,15.0,63.0,16,4,0,0.5,102.48,7.17,2,0,No Result,Kotla
99996,99997,Player_99997,SRH,10.0,9.0,6,8,0,2.2,87.52,8.36,4,1,Tie,Chinnaswamy
99997,99998,Player_99998,PBKS,2.0,112.0,5,3,0,2.5,168.94,11.04,4,1,No Result,Narendra Modi
99998,99999,Player_99999,RCB,187.0,80.0,5,9,1,0.5,94.33,11.84,2,0,Win,Narendra Modi
99999,100000,Player_100000,PBKS,73.0,38.0,6,1,2,2.5,50.93,5.41,1,1,Loss,Kotla

In [56]:
df.fillna(method='ffill') # Fills NaN values with the previous non-null value

<ipython-input-56-ae8e50cf6727>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill') # Fills NaN values with the previous non-null value

,player_id,player_name,team,runs,balls_faced,fours,sixes,wickets,overs_bowled,strike_rate,economy,catches,stumpings,match_outcome,venue
0,1,Player_1,RCB,182.0,93.0,7,3,3,3.1,196.46,11.32,1,0,No Result,Kotla
1,2,Player_2,KKR,147.0,7.0,17,2,1,1.1,114.65,4.23,0,0,Loss,Kotla
2,3,Player_3,SRH,188.0,94.0,13,0,1,1.5,81.86,6.39,0,0,Tie,Wankhede
3,4,Player_4,RR,135.0,64.0,11,2,1,3.4,145.23,11.78,3,1,Loss,Narendra Modi
4,5,Player_5,MI,31.0,76.0,19,10,4,2.1,68.70,4.01,1,0,Loss,Kotla
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,Player_99996,LSG,15.0,63.0,16,4,0,0.5,102.48,7.17,2,0,No Result,Kotla
99996,99997,Player_99997,SRH,10.0,9.0,6,8,0,2.2,87.52,8.36,4,1,Tie,Chinnaswamy
99997,99998,Player_99998,PBKS,2.0,112.0,5,3,0,2.5,168.94,11.04,4,1,No Result,Narendra Modi
99998,99999,Player_99999,RCB,187.0,80.0,5,9,1,0.5,94.33,11.84,2,0,Win,Narendra Modi
99999,100000,Player_100000,PBKS,73.0,38.0,6,1,2,2.5,50.93,5.41,1,1,Loss,Kotla

In [63]:
df.fillna(100,inplace=True) # Fill missing values with a specified value

In [64]:
df.iloc[19:25]

,player_id,player_name,team,runs,balls_faced,fours,sixes,wickets,overs_bowled,strike_rate,economy,catches,stumpings,match_outcome,venue
19,20,Player_20,KKR,100.0,12.0,16,9,1,1.7,171.03,9.86,1,1,Tie,Eden Gardens
20,21,Player_21,SRH,98.0,99.0,2,4,1,1.9,155.54,8.07,3,0,No Result,Wankhede
21,22,Player_22,GT,130.0,89.0,1,6,4,0.5,130.18,6.98,1,0,Tie,Chinnaswamy
22,23,Player_23,KKR,90.0,71.0,13,13,4,2.1,113.85,8.17,4,0,Loss,Narendra Modi
23,24,Player_24,GT,100.0,118.0,12,4,1,3.7,193.60,6.65,4,1,No Result,Eden Gardens
24,25,Player_25,RR,14.0,15.0,15,14,4,1.8,178.02,7.86,2,1,Win,Kotla

**3.3.4** The `duplicated()`,`drop_duplicates()` operations in pandas are used to identify and drop the duplicate rows in a DataFrame.

In [65]:
df.duplicated() # Checks for duplicate rows

0        False
1        False
2        False
3        False
4        False
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Length: 100000, dtype: bool

In [66]:
df.drop_duplicates() # Removes duplicate rows

,player_id,player_name,team,runs,balls_faced,fours,sixes,wickets,overs_bowled,strike_rate,economy,catches,stumpings,match_outcome,venue
0,1,Player_1,RCB,182.0,93.0,7,3,3,3.1,196.46,11.32,1,0,No Result,Kotla
1,2,Player_2,KKR,147.0,7.0,17,2,1,1.1,114.65,4.23,0,0,Loss,Kotla
2,3,Player_3,SRH,188.0,94.0,13,0,1,1.5,81.86,6.39,0,0,Tie,Wankhede
3,4,Player_4,RR,135.0,64.0,11,2,1,3.4,145.23,11.78,3,1,Loss,Narendra Modi
4,5,Player_5,MI,31.0,76.0,19,10,4,2.1,68.70,4.01,1,0,Loss,Kotla
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,Player_99996,LSG,15.0,63.0,16,4,0,0.5,102.48,7.17,2,0,No Result,Kotla
99996,99997,Player_99997,SRH,10.0,9.0,6,8,0,2.2,87.52,8.36,4,1,Tie,Chinnaswamy
99997,99998,Player_99998,PBKS,2.0,112.0,5,3,0,2.5,168.94,11.04,4,1,No Result,Narendra Modi
99998,99999,Player_99999,RCB,187.0,80.0,5,9,1,0.5,94.33,11.84,2,0,Win,Narendra Modi
99999,100000,Player_100000,PBKS,73.0,38.0,6,1,2,2.5,50.93,5.41,1,1,Loss,Kotla

**3.3.5** In pandas, adding a new column refers to the process of creating a new column in a DataFrame and assigning values to it, based on either constant values, existing column values, or computed results.

It is done by using `df['new_col1']=...`

In [83]:
df['calculated_balls'] = (df['runs'] * 100) / df['strike_rate'] # Add a new column to the DataFrame

In [78]:
df.head()

,player_id,player_name,team,runs,balls_faced,fours,sixes,wickets,overs_bowled,strike_rate,economy,catches,stumpings,match_outcome,venue,calculated_balls
0,1,Player_1,RCB,182.0,93.0,7,3,3,3.1,196.46,11.32,1,0,No Result,Kotla,92.639723
1,2,Player_2,KKR,147.0,7.0,17,2,1,1.1,114.65,4.23,0,0,Loss,Kotla,128.216311
2,3,Player_3,SRH,188.0,94.0,13,0,1,1.5,81.86,6.39,0,0,Tie,Wankhede,229.660396
3,4,Player_4,RR,135.0,64.0,11,2,1,3.4,145.23,11.78,3,1,Loss,Narendra Modi,92.956001
4,5,Player_5,MI,31.0,76.0,19,10,4,2.1,68.70,4.01,1,0,Loss,Kotla,45.123726

### **3.4 Data Aggregation**

Data aggregation in pandas refers to the process of combining multiple values into a single value using an aggregate function like `sum()`,` mean()`, `count()`, etc., after grouping the data.

The `groupby()` operation is used to group data based on one or more columns and then perform aggregation on the grouped data.

In [68]:
df.groupby('team')['runs'].mean() # Group the data by the 'team' column and calculate the mean of the 'runs' column for each team

team
CSK      98.578073
DC       99.679333
GT      101.603417
KKR     100.065821
LSG      99.307386
MI       98.556809
PBKS     99.599980
RCB      99.410207
RR       99.237902
SRH      99.122882
Name: runs, dtype: float64

In [69]:
df.groupby('team')['runs'].sum() # Group the data by the 'team' column and calculate the sum of the 'runs' column for each team

team
CSK      972867.0
DC      1009951.0
GT      1005061.0
KKR     1009464.0
LSG      996351.0
MI       978472.0
PBKS     986737.0
RCB      987541.0
RR      1004883.0
SRH     1000249.0
Name: runs, dtype: float64

In [72]:
df.groupby('team')['runs'].count() # Group the data by the 'team' column and count the number of non-null values in the 'runs' column for each team

team
CSK      9869
DC      10132
GT       9892
KKR     10088
LSG     10033
MI       9928
PBKS     9907
RCB      9934
RR      10126
SRH     10091
Name: runs, dtype: int64

### **Multiple aggregation functions**

In [70]:
df.groupby('team')['runs'].agg(['sum', 'mean', 'max'])

            sum        mean    max
team
CSK    972867.0   98.578073  199.0
DC    1009951.0   99.679333  199.0
GT    1005061.0  101.603417  199.0
KKR   1009464.0  100.065821  199.0
LSG    996351.0   99.307386  199.0
MI     978472.0   98.556809  199.0
PBKS   986737.0   99.599980  199.0
RCB    987541.0   99.410207  199.0
RR    1004883.0   99.237902  199.0
SRH   1000249.0   99.122882  199.0

### **3.5 Data Sorting**

**3.5.1** Data sorting in pandas refers to the process of arranging data in a specific order (ascending or descending) based on one or more columns using the `sort_values()` method.

`ascending=True` â€“ Sort in ascending order (default)

`ascending=False` â€“ Sort in descending order

In [73]:
df.sort_values(by='runs', ascending=True) # Sort the DataFrame by one column in ascending order

,player_id,player_name,team,runs,balls_faced,fours,sixes,wickets,overs_bowled,strike_rate,economy,catches,stumpings,match_outcome,venue
74390,74391,Player_74391,RR,0.0,46.0,10,1,3,2.0,115.28,6.77,4,0,Loss,Kotla
75734,75735,Player_75735,DC,0.0,87.0,0,8,1,3.6,150.93,8.57,3,1,Win,Chinnaswamy
75712,75713,Player_75713,GT,0.0,44.0,12,5,0,2.8,119.40,5.90,2,1,Win,Chinnaswamy
10549,10550,Player_10550,DC,0.0,101.0,16,7,0,1.7,166.64,6.42,1,0,No Result,Kotla
10602,10603,Player_10603,DC,0.0,53.0,9,10,4,0.1,139.98,11.20,2,0,Tie,Kotla
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67275,67276,Player_67276,MI,199.0,47.0,2,10,3,2.2,185.63,100.00,4,1,Loss,Eden Gardens
67451,67452,Player_67452,PBKS,199.0,54.0,6,11,2,3.5,72.46,8.22,4,0,Loss,Narendra Modi
81083,81084,Player_81084,RCB,199.0,25.0,3,3,3,2.5,51.33,7.40,3,0,Loss,Narendra Modi
31097,31098,Player_31098,SRH,199.0,97.0,3,2,3,0.1,123.24,5.03,3,1,Win,Wankhede
125,126,Player_126,LSG,199.0,56.0,14,2,1,0.2,161.79,10.74,4,1,Tie,Chinnaswamy

In [74]:
df.sort_values(by='runs', ascending=False) # Sort the DataFrame by one column in descending order

,player_id,player_name,team,runs,balls_faced,fours,sixes,wickets,overs_bowled,strike_rate,economy,catches,stumpings,match_outcome,venue
90539,90540,Player_90540,KKR,199.0,96.0,13,10,4,2.2,62.17,8.78,0,1,Loss,Kotla
14313,14314,Player_14314,KKR,199.0,37.0,0,7,0,2.1,175.96,7.11,4,1,Tie,Kotla
14169,14170,Player_14170,SRH,199.0,18.0,14,12,2,3.4,65.70,5.70,4,1,Loss,Chinnaswamy
90706,90707,Player_90707,LSG,199.0,21.0,17,9,3,1.5,157.59,7.80,2,1,No Result,Kotla
90690,90691,Player_90691,SRH,199.0,118.0,2,0,1,2.0,111.40,4.86,2,0,Win,Wankhede
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38632,38633,Player_38633,LSG,0.0,66.0,10,3,3,4.0,95.65,8.00,3,1,No Result,Kotla
96586,96587,Player_96587,LSG,0.0,80.0,17,10,0,2.8,67.84,9.30,0,0,No Result,Wankhede
24069,24070,Player_24070,GT,0.0,52.0,10,6,1,0.0,82.09,8.16,1,0,Loss,Wankhede
38658,38659,Player_38659,LSG,0.0,85.0,14,14,1,2.9,73.08,11.00,2,1,Tie,Wankhede
2056,2057,Player_2057,MI,0.0,21.0,8,10,0,0.8,145.96,7.20,2,0,Win,Eden Gardens

In [75]:
df.sort_values(by=['team', 'runs'], ascending=[True, False]) # Sort the DataFrame by multiple columns in ascending order

,player_id,player_name,team,runs,balls_faced,fours,sixes,wickets,overs_bowled,strike_rate,economy,catches,stumpings,match_outcome,venue
371,372,Player_372,CSK,199.0,110.0,18,12,2,0.5,115.11,8.77,1,1,Win,Wankhede
4341,4342,Player_4342,CSK,199.0,27.0,15,10,4,0.2,176.41,8.42,4,1,Tie,Narendra Modi
6391,6392,Player_6392,CSK,199.0,108.0,13,10,1,0.5,192.54,7.80,4,1,Loss,Kotla
10433,10434,Player_10434,CSK,199.0,106.0,8,3,3,0.2,82.83,11.57,0,1,Loss,Eden Gardens
13122,13123,Player_13123,CSK,199.0,26.0,16,13,1,0.1,159.48,4.13,1,0,Win,Kotla
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84356,84357,Player_84357,SRH,0.0,119.0,5,0,4,1.2,71.23,5.06,2,0,Loss,Chinnaswamy
86987,86988,Player_86988,SRH,0.0,14.0,18,12,4,0.4,132.43,11.30,4,1,Loss,Wankhede
93276,93277,Player_93277,SRH,0.0,72.0,18,11,4,1.1,140.02,11.83,2,0,Loss,Chinnaswamy
94734,94735,Player_94735,SRH,0.0,93.0,11,2,3,2.8,85.38,9.87,4,1,Loss,Kotla
97943,97944,Player_97944,SRH,0.0,114.0,5,1,0,0.2,124.34,5.79,1,1,Tie,Eden Gardens

**3.5.2** In pandas, setting a column as the index means assigning a specific column as the row labels of the DataFrame, which helps in organizing and accessing data more efficiently.

The setting of column as the index is done by using the operation `set_index()`

Resetting a column refers to the process of removing the index and converting it back into a regular column using the `reset_index()` method.

In [84]:
df.set_index('player_id',inplace=True) # Set a column as the index

In [85]:
df.head()

,player_name,team,runs,balls_faced,fours,sixes,wickets,overs_bowled,strike_rate,economy,catches,stumpings,match_outcome,venue,calculated_balls
player_id,,,,,,,,,,,,,,,
1,Player_1,RCB,182.0,93.0,7,3,3,3.1,196.46,11.32,1,0,No Result,Kotla,92.639723
2,Player_2,KKR,147.0,7.0,17,2,1,1.1,114.65,4.23,0,0,Loss,Kotla,128.216311
3,Player_3,SRH,188.0,94.0,13,0,1,1.5,81.86,6.39,0,0,Tie,Wankhede,229.660396
4,Player_4,RR,135.0,64.0,11,2,1,3.4,145.23,11.78,3,1,Loss,Narendra Modi,92.956001
5,Player_5,MI,31.0,76.0,19,10,4,2.1,68.70,4.01,1,0,Loss,Kotla,45.123726

In [88]:
df.reset_index('player_id') # Reset the DataFrame index

,player_id,player_name,team,runs,balls_faced,fours,sixes,wickets,overs_bowled,strike_rate,economy,catches,stumpings,match_outcome,venue,calculated_balls
0,1,Player_1,RCB,182.0,93.0,7,3,3,3.1,196.46,11.32,1,0,No Result,Kotla,92.639723
1,2,Player_2,KKR,147.0,7.0,17,2,1,1.1,114.65,4.23,0,0,Loss,Kotla,128.216311
2,3,Player_3,SRH,188.0,94.0,13,0,1,1.5,81.86,6.39,0,0,Tie,Wankhede,229.660396
3,4,Player_4,RR,135.0,64.0,11,2,1,3.4,145.23,11.78,3,1,Loss,Narendra Modi,92.956001
4,5,Player_5,MI,31.0,76.0,19,10,4,2.1,68.70,4.01,1,0,Loss,Kotla,45.123726
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,Player_99996,LSG,15.0,63.0,16,4,0,0.5,102.48,7.17,2,0,No Result,Kotla,14.637002
99996,99997,Player_99997,SRH,10.0,9.0,6,8,0,2.2,87.52,8.36,4,1,Tie,Chinnaswamy,11.425960
99997,99998,Player_99998,PBKS,2.0,112.0,5,3,0,2.5,168.94,11.04,4,1,No Result,Narendra Modi,1.183852
99998,99999,Player_99999,RCB,187.0,80.0,5,9,1,0.5,94.33,11.84,2,0,Win,Narendra Modi,198.240221
99999,100000,Player_100000,PBKS,73.0,38.0,6,1,2,2.5,50.93,5.41,1,1,Loss,Kotla,143.333988

### **3.6 Data Exporting**

Data exporting in pandas refers to the process of saving a DataFrame to an external file format like CSV, Excel, JSON, etc., using built-in methods.

In [90]:
df.to_csv('/content/drive/MyDrive/ipl_cricket_stats.csv') # Write the DataFrame to a CSV file