1.Are lists mutable or immutable, explain with an example

Lists are mutable

Ex: Modifying an element

In [1]:
my_list=[1,2,3,4]
my_list[2]=99
print(my_list)

[1, 2, 99, 4]

2.Take any example of list on your own and perform atleast 5 list operations on that

1. Modifying an element

In [2]:
list_1=[1,2,4,6,7]
list_1[2]=99
print(list_1)

[1, 2, 99, 6, 7]

2. Adding a new element

In [3]:
list_1.append(5)
print(list_1)

[1, 2, 99, 6, 7, 5]

3. Removing an element

In [4]:
list_1.remove(2)
print(list_1)

[1, 99, 6, 7, 5]

4. Reverse the list

In [5]:
list_1.reverse()
print(list_1)

[5, 7, 6, 99, 1]

5. Finding the index of an element

In [7]:
list_1=[1,2,4,5,6,7]
print(list_1.index(4))

2

3.Create a new list containing only the even numbers from the original list.

original list ;[1,2,2,4,5,6,7,12,3,456,78,67,89,90]

In [9]:
my_list=[1,2,2,4,5,6,7,12,3,456,78,67,89,90]
even_numbers = [num for num in my_list if num%2 == 0]
print(even_numbers)

[2, 2, 4, 6, 12, 456, 78, 90]

4.Create a new list with the squares of each element in the original list.

original list : [3,5,6,8,2,45]

In [10]:
original_list=[3,5,6,8,2,45]
squared_numbers=list(map(lambda x:x ** 2, original_list))
print(squared_numbers)

[9, 25, 36, 64, 4, 2025]

5.Check if all elements in the list are positive and return all the positive elements in a new list.

input ; [12,23,4,56,77,-89,7,90,90,-87,-99]

In [12]:
input_list=[12,23,4,56,77,-89,7,90,90,-87,-99]
all_positive=all(num>0 for num in input_list)
print(all_positive)
positive_numbers=[num for num in input_list if num>0]
print(positive_numbers)

False
[12, 23, 4, 56, 77, 7, 90, 90]